{% extends 'base-front.html.twig' %}

{% block title %}{% trans %}Sign Up{% endtrans %}!{% endblock %}

{% block content %}

    <div class="col-lg-4 mx-auto">

        <h1>Register</h1>

        {{ form_start(registrationForm) }}

            <div class="form-group">
                {{ form_label(registrationForm.username) }}
                {{ form_widget(registrationForm.username, {'attr': {"class": "form-control", "placeholder": "Username"}}) }}
                {{ form_errors(registrationForm.username) }}
            </div>
            <div class="form-group ">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {"class": "form-control", "placeholder": "Email"}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {"class": "form-control", "placeholder": "Password"}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <div class="form-group">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {"class": "form-check-input", "placeholder": "Password"}}) }}
                {{ form_label(registrationForm.agreeTerms) }}
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>
            <div class="form-group">
                 <button class="btn btn-lg btn-success" type="submit">Sign Up</button>
            </div>

        {{ form_end(registrationForm) }}

    </div>

{% endblock %}
