<!-- Post -->


<div class="card mb-4">
    <a href="{{ path('show_post', { id: post.getId }) }}">
        <img class="card-img-top" src="{{ "/uploads/images/" ~ post.user.getId ~ "/" ~ post.image }}" >
    </a>
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>

        {% for comment in post.comments %}

            {% include 'post/comment.html.twig' %}

        {% endfor %}

    </div>
    <div class="card-footer text-muted">
        {{ post.addDate|date("m.d.Y H:i") }}
        <a class="float-right btn text-white btn-danger post-like-btn" post-id="{{ post.getId }}"> <i class="like-count">{{ post.getPostLikesCount > 0 ? post.getPostLikesCount : '' }}</i> <i class="fa fa-heart"></i> Like</a>
    </div>
</div>
