<!-- Post -->
<div class="card mb-4">
    <img class="card-img-top" src="{{ "/uploads/images/" ~ post.user.getId ~ "/" ~ post.image }}">
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>

        {% for comment in post.comments %}

            {% include 'post/comment.html.twig' %}

        {% endfor %}

        {{ form_start(comment_form, {'action': path('new_comment', {'id': post.getId})}) }}

        <div class="form-row">
            <div class="form-group col-md-9">
                {{ form_errors(comment_form.content) }}
                {{ form_widget(comment_form.content, { 'attr': { 'class': 'form-control', 'rows': 2}}) }}
            </div>

            <div class="form-group col-md-3">
                <button class="btn btn-lg btn-success float-right" type="submit">Comment</button>
            </div>

        </div>

        {{ form_end(comment_form) }}
    </div>
    <div class="card-footer text-muted">
        {{ post.addDate|date("m.d.Y H:i") }}
        <a class="float-right btn text-white btn-danger post-like-btn" post-id="{{ post.getId }}"> <i class="like-count">{{ post.getLikesCount > 0 ? post.getLikesCount : '' }}</i> <i class="fa fa-heart"></i> Like</a>
    </div>
</div>